.sidenav {
  height: 100vw;
  padding: 1%;
  z-index: 2;
  transition: 1s ease-in-out;
  background-color: #007bff;
  overflow-x: hidden;
  width: 0;
  position: fixed;

}

.bars-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: -12px;
  color: #0a5491;
}

.sidenav:hover {
  width: 250px;
}

h1,
ul,
li,
.logo1 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.sidenav:hover h1,
.sidenav:hover ul,
.sidenav:hover li,
.sidenav:hover .logo1 {
  opacity: 1;
  visibility: visible;
}

h1 {
  position: relative;
  top: 1px;
  text-align: center;
  color: #0a5491;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  display: block;
  margin: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 26px;

}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo1 {
  width: 160px;
  height: 100px;
}