.a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

h2 {
  color: #007bff;
  font-size: 50px;
}

p {
  margin: 10px 0;
  font-size: 30px;
}

.logo {
  width: 160px;
  height: 100px;
}

.h2-about {
  position: relative;
  top: -50px;
  text-align: center;
  color: #0a5491;
  margin-bottom: 0;
  font-size: 70px;

}