.product-table {
  width: 50%;
  margin: auto;
}

.product-table th,
.product-table td {
  border: 1px solid #0a5b6b;
  padding: 8px;
  text-align: center;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.button-add {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button-add:hover {
  background-color: #0056b3;
}