.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.product-form {
  max-width: 400px;
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-container {
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.h2-product {
  color: #0056b3;
}

.logo {
  width: 50px;
  height: auto;
}