.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chart-container {
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
}

.chart-container-pie {
  width: 80%;
  max-width: 700px;
}

.h3-statistics {
  position: relative;
  top: 1px;
  text-align: center;
  color: #0a5491;
  margin-bottom: 50px;
}